# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\PC GAMER\Desktop\TareasDiogenes\Programacion\django exercices\probando cosas nuevas\Config\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
